<button type="button" class="btn btn-success" style="width: 100%" data-toggle="modal" data-target="#exampleModal">
  Introduction
</button>

<!-- モーダル本体 -->
<div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Introduction</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- ここに機能の説明を書く -->
        <h5>GAME JOYへようこそ！</h5>
        <br>
        キーワード(製品名等)を記入<br>
        または、<br>
        キーワードタグ、ジャンルを選択して、みたい商品を検索！<br>
        <br>
        ゲーミングデバイスの情報を確認しよう！<br>
        レビュー投稿も待ってます！<br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>