<div class="container">
  <div class="row">
    
    <div class="col-3">
      <%= render 'items/search_genre' %>
    </div>
    
    <div class="col-9 mt-4">
      <div class="background-container m-0 p-0">
        <!-- 背景写真 -->
        <%= image_tag asset_path('top.jpg'), alt: 'Background Image', class: 'background-image' %>

        <!-- 画像の上に書く文字 -->
        <div class="overlay-text width: 100%">
          <p>お気に入りの機材でゲームを楽しもう！</p>
        </div>
      </div>      
    </div>
  </div>
</div>


  

    
